*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

:root{
--yay-black: #303030;
--yay-gray-3: #777777;
--yay-gray-2: #ACACAC;
--yay-gray-1: #DBDBDB;
--yay-gray-0: #F2F3F7;
--yay-white: #FFFFFF;
--yay-green: #EBF76E;
}

body{
background-color: var(--yay-gray-0);
}

.container{
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
width: 100%;
margin: auto;
border: 1px solid black;
}


ul{
list-style: none;
display: flex;
margin: auto;
gap: 40px;
}

ul li{
margin: auto;
}

a{
text-decoration: none;
}

.btn{
background-color: var(--yay-gray-0);
color: #333;
font-weight: 600;
border: none;
border-radius: 10px;
cursor: pointer;
transition: 0.5s;
}


.hero{
margin-top: 50px;
width: 60%;
}


.stake{    
border: 1px solid black;
border-radius: 10px;
padding: 20px;
}

.stake h1 {
font-size: 1em;
display: inline;
}

.stakelogo{
border-radius: 10px;
width: 40px;
display: inline;
}

/* Utility Classes */
.btn-dark{
background: var(--yay-black);
color: var(--yay-white);
}

.btn-light{
background: var(--yay-black);
color: var(--yay-white);
}
    
.back-white{
background-color: var(--yay-white);
}